

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



body h2{

   
    border: 0 auto;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
main{
 min-height: 100vh;
 margin: 0;
 padding: 0;

    
}
body form{
    display: grid;
    width: 60%;
    text-align: center;
   
    margin: 20px auto;
    padding: 10px;
   
    background-color:rgba(190, 237, 193, 0.911);
    text-align: center;
    
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: center;
    align-content: space-around;
}

#buttom{
    background-color: lightblue;
    border-radius: 20px;
    font-family: "Indie Flower", cursive;
}

.search{
    font-family: "Indie Flower", cursive;
}
#results{
    font-family: "Indie Flower", cursive;
    background-color:rgba(190, 237, 193, 0.911);
    text-align: center;
    
    
    
}
#mainpic{
    display: block;
  width: 100%;
  height: auto;


}
#container{
    position: relative;
}